<%= link_to "Facebook Login", '/auth/facebook' %>



Welcome, <%=@user[:name]%>!<br /><br />
<form method="get" autocomplete="off" action="/survey">Enter a survey id<br /><input name="survey_id" size="30" type="text" value=""><input type="submit" value="Go"></form>

